{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>

<p>This is Website under construction by Haoyu Lin, a 12th grader in computer science capstone</p>
<p>Our group consist of Haoyu Lin in Ms.Ketchum's class and me from Mr.Wrights class</p>
<p>Roles are not definesd as we only have two people on the team, most likely will be working on different things together.</p>
<p>The purpose this project is to creat a text based resource management game and inform others.</p>
<br><br>
<p>Picture of Haoyu:</p>
<img src="../static/Panda.JPG" height="512" width="512">
<p>Contact us at s_xiaohui.chen@ousd.org</p>
{% endblock %}