{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.star.label }} <br>
                {{ form.star() }}
                <!--List the errors for this field-->
                {% for error in form.star.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.text.label }} <br>
                {{ form.text(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.recommendation.label }} <br>
                {{ form.recommendation() }}
                <!--List the errors for this field-->
                {% for error in form.recommendation.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
